/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilos para los encabezados */
h2 {
    color: #333;
    text-align: center;
}

/* Estilos para los elementos de datos */
.item {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón "Comenzar" */
#startButton {
    background-color: rgb(50, 150, 250);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto; /* Centrar el botón horizontalmente */
}